examples/* linguist-vendored=true
autotest/* linguist-vendored=true
dist/* linguist-vendored=true
doc/* linguist-vendored=true
build/* linguist-vendored=true
misc/* linguist-vendored=true
verification/* linguist-vendored=true
pyemu/_version.py export-subst
