pyemu/_version.py export-subst
*.rei linguist-vendored # ignore because recognized as Reason
*.ins linguist-vendored # ignore because recognized as LaTex
*.aux linguist-vendored # ignore because recognized as LaTex
*.tex linguist-vendored # ignore because recognized as LaTex
*.go linguist-vendored # ignore because recognized as Go
*.tpl linguist-vendored # ignore because recognized as Smarty
*.bas linguist-vendored # ignore because recognized as VBA
*.res linguist-vendored # ignore because recognized as ReScript
*.dsp linguist-vendored # ignore because recognized as Faust
*.spc linguist-vendored # ignore because recognized as PLSQL
*.bat linguist-vendored # ignore because recognized as Batchfile
*.arr linguist-vendored # ignore because recognized as Pyret
*.mps linguist-vendored # ignore because recognized as JetBrains MPS

