name: pyemu continuous integration

on: 
  schedule:
    - cron: '0 8 * * *' # run at 8 AM UTC (12 AM PST, 8 PM NZST)
  push:
  pull_request:
  workflow_dispatch:

jobs:
  pyemuCI:
    name: autotests
    runs-on: ${{ matrix.os }}
    timeout-minutes: 90
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        python-version: [
          "3.10",
          "3.11",
          "3.12",
          "3.13",
          "3.14"
        ]
        run-type: [std]
        test-path: ["."]
        include:
          - os: macos-latest
            python-version: 3.12
            run-type: std
            test-path: "."

    steps:
    - name: Checkout repo
      uses:  actions/checkout@v5 # checksout this repo

    - name: Set Windows ENV
      if: runner.os == 'Windows'
      uses: ilammy/msvc-dev-cmd@v1

    # Setup conda env
    - name: Install Conda environment using micromamba
      uses: mamba-org/setup-micromamba@v1
      with:
        environment-file: etc/environment.yml
        environment-name: pyemu
        create-args: >-
          python=${{ matrix.python-version }}
        cache-downloads: true
        cache-environment: true
        cache-environment-key: environment-${{ steps.date.outputs.date }}
        cache-downloads-key: downloads-${{ steps.date.outputs.date }}

    - name: Checkout pypestutils
      uses:  actions/checkout@v4
      with:
        repository: pypest/pypestutils
        ref: develop
        path: pypestutils

#    - name: Install MinGW-w64 tools (Windows)
#      if: runner.os == 'Windows'
#      uses: msys2/setup-msys2@v2
#      with:
#        msystem: MINGW64
#        path-type: inherit
##        install: >-
##          mingw-w64-x86_64-gcc-fortran
##          mingw-w64-x86_64-lapack
##          mingw-w64-x86_64-meson
##          mingw-w64-x86_64-ninja

    - name: Install meson and gfortran (for ppu)
      shell: bash -l {0}
      run: |
        micromamba install meson gfortran

    - name: Build pypestutils (Windows)
      if: runner.os == 'Windows'
      shell: bash -l {0}
      working-directory: pypestutils
      env:
        LDFLAGS: -static-libgcc -static-libgfortran -static-libquadmath -Wl,-Bstatic,--whole-archive -lwinpthread -Wl,--no-whole-archive
      run: |
        scripts/build_lib.sh

    - name: Build pypestutils (non-Windows)
      if: runner.os != 'Windows'
      shell: bash -l {0}
      working-directory: pypestutils
      run: |
        scripts/build_lib.sh

    - name: Install pypestutils
      shell: bash -l {0}
      working-directory: pypestutils
      run: |
        pip install -e .

    - name: Install pyemu
      shell: bash -l {0}
      run: |
        pip install -e .
        micromamba list

    - name: Install Modflow executables
      uses: modflowpy/install-modflow-action@v1

    - name: Add executables directory to path
      shell: bash
      run: |
        echo "$MODFLOW_BIN_PATH" >> $GITHUB_PATH
        echo "$HOME/.local/bin" >> $GITHUB_PATH
        echo $GITHUB_PATH

    # order matters for this step - after setting path to executables
    - name: Install PEST++ suite using get-pestpp
      shell: bash -l {0}
      run: |
        get-pestpp :home
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: ${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.test-path }}
      shell: bash -l {0}
      working-directory: autotest
      run: |
        pytest ${{ matrix.test-path }} \
        -n=auto \
        -rA -vv --tb=native \
        --durations=20 \
        --cov=pyemu --cov-report=lcov
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        MPLBACKEND: Agg  # non-interactive backend for matplotlib

    - name: Test Notebooks
      if: ${{ matrix.os == 'ubuntu-latest' && matrix.python-version == 3.12 }}
      shell: bash -l {0}
      working-directory: examples
      run: |
        pytest *.ipynb \
        -rA -vv --tb=native \
        --nbval-lax --dist loadscope \
        --cov=pyemu --cov-report=lcov
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        COVERALLS_FLAG_NAME: notebooks
        COVERALLS_PARALLEL: true

    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        flag-name: ${{ matrix.os }}-${{ matrix.python-version }}-${{ matrix.test-path }}
        parallel: true
#        path-to-lcov: autotest/coverage.lcov

  coveralls_finish:
    needs: pyemuCI
    runs-on: ubuntu-latest
    steps:
    - name: Coveralls Finished
      uses: coverallsapp/github-action@v2
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        parallel-finished: true
#        path-to-lcov: autotest/coverage.lcov
